@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppis, sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;
}

input, button {
    font-family: Poppis, sans-serif;
}

.upper-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65%;
}

.bottom-container {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.upper-left-container {
    padding-top: 150px;
    padding-left: 150px;
    width: 40%;
    height: 100%;
}

.upper-left-container h1 {
    color: #636363;
    font-size: 50pt;
    margin-bottom: 20px;
}

.upper-left-container h3 {
    color: #898989;
    font-size: 14pt;
    font-weight: normal;
}

.upper-right-container {
    width: 60%;
    height: 100%;
}

.btn {
    color: #fff;
    font-size: 12pt;
    text-shadow: 1px 1px 5px #ffffff9c;
    margin-top: 25px;
    width: 235px;
    height: 35px;
    border-radius: 10px;
    background-color: #636363;
    border: none;
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.514);
    transition: 0.75s;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.678);
    width: 265px;
    height: 45px;
}

#squares {
    padding-top: 13%;
    padding-left: 5%;
    padding-bottom: 3%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {

    width: 40%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 5%;
}

.card p {
    margin-left: 7%;
    color: #898989;
    font-size: 12pt;
}

.card p strong {
    color: #636363;
    font-weight: bolder;
    font-size: 18pt;
}

#icon {
    height: 80px;
}

#gallery {
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

#gallery img {
    height: 100%;
    width: 25%;
}

#img1 {
    border-radius: 25px 0px 0 25px;
}

#img2 {
    border-radius: 0px 25px 25px 0;
}

footer {
    text-align: center;
    color: #898989;
}

.container {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.box {
    background-color: #636363;
    width: 30%;
    height: 45%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    color: #D6D6D6;
    font-weight: bolder;
    margin-top: 10%;
    margin-bottom: 10%;
    text-shadow: 2px 2px 7px black;
}

.textfield {
    color: aqua;
    width: 100%;
    height: 100%;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form input {
    background: #E4E4E4;
    padding: 3%;
    border: none;
    outline: none;
    width: 85%;
    margin-bottom: 5px;
    height: 35px;
}

form button {
    background-color: #919191;
    border: none;
    outline: none;
    width: 85%;
    height: 40px;
    transition: 0.5s;
    font-size: 18pt;
    text-shadow: 2px 2px 7px #fff;
    color: #fff;
}

form button:hover {
    cursor: pointer;
    background: #fff;
    color: black;
    text-shadow: 2px 2px 7px black;
}

form input, form button, form h1 {
    font-family: Poppins,sans-serif;
}
